body 
{
	background-image: url("back1.jpg");
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
}

.header 
{
	width:80%;
	height:30%;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
}

.nav
{
	width:80%;
	background-color:maroon;
	margin-right:auto;
	margin-left:auto;
	overflow:auto;	
	position:relative;
 	box-shadow:0 0 5px;
 	-webkit-box-shadow:5px 5px 5px;
	text-align:right;
	border-radius: 80px 15px;
	
}

ul
{
	margin:0;	
	margin-left:55%;
	padding:0;
	list-style:none;
}

li
{	
	float:left;
}

a
{
	color:white;
	width:125px;
	text-decoration:none;
	display:block;
	text-align:center;
	padding:15px;
	text-transform:uppercase;
	font-size:18px;
	font-family:Verdana;
}

a:hover
{
	background-color:black;
	color:grey;
}

.imglog
{
	position:absolute;
	width:78%;
	height:110%;
	margin-top:10px;
	margin-left:10%;
	padding: 10px;
	margin-bottom:20px;

}
	
.images
{
	width: 51%;
	height: 98%;
 	background: rgba(0,0,0, 0.6);
	float: left;
	padding: 20px;
}

.login
{
	width: 40%;
	height: 98%;
 	background: rgba(0,0,0, 0.6);
	float: right;
	padding: 20px;
	
}

.admin
{
	width: 90%;
	height: 83%;
	background-color: white;
	padding:5px;				
	margin-left:16px;
	margin-top:15px;
	border:5px solid darkgrey;	
	border-radius:12px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.6), 0 1px 8px 0 rgba(0,0,0,0.50);
	
}

.employee
{
	margin-top:26px;
	width: 90%;
	height: 43%;
	background-color: white;
	padding:5px;				
	margin-left:16px;
	border:5px solid DarkGrey;	
	border-radius:12px;
}

.formtitle
{
	margin-top: 15px;
	color: crimson;
	font-size: 22px;
	font-family: Arial black;	
}

span
{
	color: maroon;
	font-size: 32px;
	font-family: Arial black;			
}

center
{
	color: black;
	font-size: 18px;
	font-family: Verdana;
}

table,td
{
	padding: 10px;
}

.btn
{
	margin-top: 10px;
	background-color: maroon;
	border-radius: 12px;
	/*border: 1px solid Black;*/
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.6), 0 1px 8px 0 rgba(0,0,0,0.19);
	width: 35%;
	height: 15%;
	padding: 6px;
	color: white;
	font-size: 14px;
	font-family: Verdana;
}

.btn:hover
{
	    background-color: black;
    	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25), 0 4px 8px 0 rgba(0,0,0,0.19);
}

input
{
	height: 20px;
	font-size: 13px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 50px;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

