body 
{
	background-image: url("back1.jpg");
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
}

.header 
{
	width:80%;
	height:30%;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
}

.nav
{
	width:80%;
	background-color:maroon;
	margin-right:auto;
	margin-left:auto;
	overflow:auto;	
	position:relative;
 	box-shadow:0 0 5px;
 	-webkit-box-shadow:5px 5px 5px;
	text-align:right;
	
}

ul
{
	margin:0;	
	padding:0;
	list-style:none;
}

li
{	
	float:right;
}

a
{
	color:white;
	width:125px;
	text-decoration:none;
	display:block;
	text-align:center;
	padding:15px;
	text-transform:uppercase;
	font-size:18px;
	font-family:Verdana;
}

a:hover
{
	background-color:black;
	color:grey;
}

.imglog
{
	position:absolute;
	width:78%;
	height:120%;
	margin-top:10px;
	margin-left:10%;
	padding: 10px;
	margin-bottom:20px;
 	background: rgba(0,0,0, 0.6);
}

.custdiv
{
	position:absolute;
	width:78%;
	height:100%;
	margin-top:10px;
	margin-left:10%;
	padding: 10px;
	margin-bottom:20px;
 	background: rgba(0,0,0, 0.6);
}
	
.trans
{
	margin-top:26px;
	width: 80%;
	height: 90%;
	background-color: white;
	padding:5px;				
	border:5px solid DarkGrey;	
	border-radius:12px;
	margin-left:auto;
	margin-right:auto;	
}

.passdiv
{
	position:absolute;
	width:78%;
	height:60%;
	margin-top:10px;
	margin-left:10%;
	padding: 10px;
	margin-bottom:20px;
 	background: rgba(0,0,0, 0.6);
}
	
.details
{
	margin-top:10px;
	width: 400px;
	height: 300px;
	background-color: ivory;
	padding:5px;	
	border:2px solid BlanchedAlmond;			
	margin-left:auto;
	margin-right:auto;
}

.employee
{
	margin-top:26px;
	width: 50%;
	height: 92%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
}

.stock
{
	margin-top:26px;
	width: 50%;
	height: 75%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
}
.emp
{
	margin-top:26px;
	width: 80%;
	height: 92%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
	overflow-y:scroll;
}

.cust
{
	margin-top:26px;
	width: 75%;
	height: 75%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
	overflow-y:scroll;
}
.supp
{
	width: 50%;
	height: 80%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	margin-top: 25px;
	border:5px solid DarkGrey;	
	border-radius:12px;
}
.radio
{
	margin-top:26px;
	width: 50%;
	height: 10%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;

}
.customer
{
	margin-top:45px;
	width: 50%;
	height: 70%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
}

.password
{
	margin-top:26px;
	width: 50%;
	height: 85%;
	background-color: white;
	padding:5px;				
	margin-left:auto;
	margin-right:auto;
	border:5px solid DarkGrey;	
	border-radius:12px;
}

.formtitle
{
	margin-top: 15px;
	color: crimson;
	font-size: 22px;
	font-family: Arial black;	
}

span
{
	color: maroon;
	font-size: 32px;
	font-family: Arial black;			
}

center
{
	color: black;
	font-size: 18px;
	font-family: Verdana;
}

.det
{
	color: Maroon;
	font-size: 16px;
	font-family: Verdana;
}


table,td
{
	padding: 10px;
}

.btn
{
	margin-top: 10px;
	background-color: maroon;
	border-radius: 12px;
	border: 2px solid BlanchedAlmond;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.19);
	width: 35%;
	height: 15%;
	padding: 6px;
	color: white;
	font-size: 14px;
	font-family: Verdana;
    margin-left: 120px;
}

.btn:hover
{
	background-color: black;
    	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25), 0 4px 8px 0 rgba(0,0,0,0.19);
		color: darkgrey
}

input
{
	height: 20px;
	font-size: 13px;
}


